.div1 {
    display: flex;
    justify-content: center;
}

.div2 {
    height: 100px;
    display: flex;
    justify-content: center;
}

.div3 {
    display: flex;
    justify-content: space-evenly;
}

.hsButton {
    font-size: 20px;
    width: 100px;
    color: white;
    background-color: black;
}